<div class="pagination-wrapper float-left w-100">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if not page.has_previous %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>

            {% if not page.has_next %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
